DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiYWYwNjVlNmEtM2ZhMS00NGM2LWEzOTUtZjRkZTA3NmMwOGE5IiwidGVuYW50X2lkIjoiYzFhZTI4NDAyNDY1MGU0YjZlMzMyYmJhYmY3YmM2MjI5ZDI2OTFmZThlYjE5ZTZjNWRiZDFhY2Y3OTliNDM3ZiIsImludGVybmFsX3NlY3JldCI6IjExNDcyOGMzLTJiNTUtNDhlYy1hMzY4LTAxZjk2ZThlYjBiYSJ9.xiQsVMPu6ioZTFsKTV0XGms5V6bidoJNRPW6BkPlUPk"
NEXTAUTH_SECRET=6z44asGv1o/DYF6nUzcGkD14+rc2iqHlkp4i/ZoZB+k=
NEXTAUTH_URL=http://localhost:3000